<!-- src/app/dashboard/dashboard.component.html -->
<main>
    <div class="container text-center">
        <h3>Welcome, {{ username }}!</h3>
    </div>
    <div class="container text-center" id="index-page">
        <button type="button" class="btn btn-primary btn-block" routerLink="/list-hotels">List all hotels</button>
        <button type="button" class="btn btn-primary btn-block" routerLink="/list-rooms">List all rooms</button>
        <button type="button" class="btn btn-primary btn-block" routerLink="/list-reservations">My reservations</button>
        <button type="button" class="btn btn-primary" routerLink="/add-hotel">Add hotel</button>
        <button type="button" class="btn btn-primary" (click)="logout()">Log out</button>
    </div>
</main>