<!-- src/app/edit-reservation/edit-reservation.component.html -->
<div class="container text-center">
    <h5>Edit a reservation</h5>
    <div class="form-group">
        <label for="startDateField">Start Date:</label>
        <input type="date" [(ngModel)]="startDate" class="form-control" id="startDateField">
    </div>
    <div class="form-group">
        <label for="endDateField">End Date:</label>
        <input type="date" [(ngModel)]="endDate" class="form-control" id="endDateField">
    </div>
    <button (click)="editReservation()" class="btn btn-primary mb-1">Edit</button>
    <button (click)="viewAllReservations()" class="btn btn-primary mb-1">View all reservations</button>
    <button (click)="returnToMainPage()" class="btn btn-primary mb-1">Return to main page</button>
</div>